.preview{
      width:100%;
      display: grid;
      grid-gap:10px;
      grid-template-columns: repeat(4,1fr);
    }
  .collection-preview{
    margin: auto;

    // padding: 10px;

  }
  .title{
    padding: 10px;
  }



